/* Styles */

.main{
    width:100%;
    height:1000px;
    background-color: #984703;
    position: relative;
}


/* header */
header{
    width:100%;
    height:100px;
    position: absolute;
    top:0px;
    left:0px;
}

.caption{
    height:100px;
    width:50%;
    position: absolute;
    top:0px;
    left:25%;
    border-bottom: 2px solid #BFA48D;
    
}

.logo{
    height:70px;
    width:10%;
    position: absolute;
    top:20px;
    left:50px;
}

.logo img{
    width:100%;
}

.text{
    height:70%;
    width:60%;
    position: absolute;
    top:30px;
    left:150px;
    font-size:50px;
    text-align: center;
    color:#FFD2AD;
}


/* Blocks_fon */
.blocks_fon{
    width:40%;
    height:300px;
    border-radius: 10px;;
    position: absolute;
    top:170px;
    left:30%;
    z-index:5;
    background-color: #984703;
    }


.fon1{
    width:100%;
    height:300px;
    border-radius: 10px;;
    position: absolute;
    top:0px;
    left:0px;
    display: block;
    background-color: #F3AD73;
}


.fon2{
    width:100%;
    height:300px;
    border-radius: 10px;;
    position: absolute;
    top:0px;
    left:0px;
    display: none;
}

.fon3{
    width:100%;
    height:300px;
    border-radius: 10px;;
    position: absolute;
    top:0px;
    left:0px;
    display: none;
}


/* Buttons */

.buttons{
    width:40%;
    height:50px;
    position: absolute;
    top:180px;
    left:30%;
    z-index:14;
}

#btn_pomodoro{
    width:22%;
    margin-left:55px;
    padding:5px;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    background-color: #F39445;
    font-size:16px;
}

#btn_pomodoro:hover{
    cursor: pointer;
}


#btn_short_break{
    width:22%;
    margin-left:27px;
    padding:5px;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    background-color: #F3AD73;
    font-size:16px;
}

#btn_short_break:hover{
    cursor: pointer;
}


#btn_long_break{
    width:22%;
    margin-left:27px;
    padding:5px;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    background-color: #F3AD73;
    font-size:16px;
}

#btn_long_break:hover{
    cursor: pointer;
}
