/* Styles */

.main{
    width:100%;
    height:1000px;
    background-color: #984703;
    position: relative;
}


/* header */
header{
    width:100%;
    height:100px;
    position: absolute;
    top:0px;
    left:0px;
}

.caption{
    height:100px;
    width:50%;
    position: absolute;
    top:0px;
    left:25%;
    border-bottom: 2px solid #BFA48D;
    
}

.logo{
    height:70px;
    width:10%;
    position: absolute;
    top:20px;
    left:50px;
}

.logo img{
    width:100%;
}

.text{
    height:70%;
    width:60%;
    position: absolute;
    top:30px;
    left:150px;
    font-size:50px;
    text-align: center;
    color:#FFD2AD;
}


/* Blocks_fon */
.fon{
    width:40%;
    height:35%;
    border-radius: 10px;;
    position: absolute;
    top:170px;
    left:30%;
    z-index:5;
    background-color:#F3AD73;
}


.fon_timer1{
    background-color:#F3AD73;
}

.fon_timer2{
    background-color: #8B9BDC;
}


.fon_timer3{
    background-color:#5DC8CD;
}




/* Buttons */

.buttons{
    width:40%;
    height:50px;
    position: absolute;
    top:180px;
    left:30%;
    z-index:14;
}

#btn_pomodoro{
    width:22%;
    margin-left:9%;
    padding:1%;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    background-color: #F39445;
    font-size:16px;
}

#btn_pomodoro:hover{
    cursor: pointer;
}



#btn_short_break{
    width:22%;
    margin-left:9%;
    padding:1%;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    font-size:16px;
    background-color:#F3AD73;
}



#btn_short_break:hover{
    cursor: pointer;
}


#btn_long_break{
    width:22%;
    margin-left:9%;
    padding:1%;
    border-radius: 3px;
    border:none;
    font-weight: bold;
    background-color: #F3AD73;
    font-size:16px;
}


#btn_long_break:hover{
    cursor: pointer;
}




/* Block timers */


.timers{
    width:30%;
    height:50%;
    border-radius: 10px;;
    position: absolute;
    top:230px;
    left:35%;
    z-index:12;

}

.timer1{
    width:100%;
    height:50%;
    border-radius: 10px;;
    position: absolute;
    top:10px;
    left:0px;
    z-index:13;
    display: block;
}


.timer1_elements{
    width:80%;
    height:100px;
    position: absolute;
    top:20px;
    left:10%;
}


#timer1_minutes, #timer1_seconds{
    float:left;
    height:50px;
    margin-left:20px;
    font-size:90px;
    width:100px;
    height:80px;
    background: none;
    border:none;
    color:black;
    text-align:center;
    font-weight: bold;
}

.symbol{
    float:left;
    margin-left:2%;
    color:black;
    font-size:40px;
    padding-top:10px;
    font-weight: bold;
}



.timer1_buttons{
    width:100%;
    height:50px;
    position: absolute;
    top:74%;
    left:0px;
}


#start_pomodoro{
    width:40%;
    height:40px;
    padding:5px;
    position: absolute;
    top:0px;
    left:30%;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    background-color:white;
    color: #984703;
}


#start_pomodoro:hover{
    cursor:pointer;
}


#pause_pomodoro{
    width:40%;
    height:40px;
    padding:5px;
    position: absolute;
    top:0px;
    left:30%;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    background-color:white;
    color: #984703;
    display: none;
}


#pause_pomodoro:hover{
    cursor:pointer;
}



.timer2{
    width:100%;
    height:50%;
    border-radius: 10px;;
    position: absolute;
    top:10px;
    left:0px;
    z-index:13;
    display: none;
}


.timer2_elements{
    width:80%;
    height:100px;
    position: absolute;
    top:20px;
    left:10%;
}


#timer2_minutes, #timer2_seconds{
    float:left;
    height:50px;
    margin-left:20px;
    font-size:90px;
    width:100px;
    height:80px;
    background: none;
    color:black;
    border:none;
    text-align:center;
    font-weight: bold;
}

.symbol{
    float:left;
    margin-left:20px;
    color:black;
    font-size:40px;
    padding-top:10px;
    font-weight: bold;
}



.timer2_buttons{
    width:100%;
    height:50px;
    position: absolute;
    top:74%;
    left:0px;
}


#start_short_break{
    width:40%;
    height:40px;
    padding:5px;
    position: absolute;
    top:0px;
    left:30%;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    background-color:white;
    color: #45538B;
}


#start_short_break:hover{
    cursor:pointer;
}


#pause_short_break{
    width:40%;
    height:40px;
    padding:5px;
    position: absolute;
    top:0px;
    left:30%;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    background-color:white;
    color: #45538B;
    display: none;
}


#pause_short_break:hover{
    cursor:pointer;
}





.timer3{
    width:100%;
    height:50%;
    border-radius: 10px;;
    position: absolute;
    top:0px;
    left:0px;
    z-index:13;
    display: none;
}


.timer3_elements{
    width:80%;
    height:100px;
    position: absolute;
    top:30px;
    left:10%;
}


#timer3_minutes, #timer3_seconds{
    float:left;
    height:50px;
    margin-left:20px;
    font-size:90px;
    width:100px;
    height:80px;
    background: none;
    color:black;
    border:none;
    text-align:center;
    font-weight: bold;
}

.symbol{
    float:left;
    margin-left:20px;
    color:black;
    font-size:40px;
    padding-top:10px;
    font-weight: bold;
}



.timer3_buttons{
    width:100%;
    height:50px;
    position: absolute;
    top:74%;
    left:0px;
}


#start_long_break{
    width:40%;
    height:40px;
    padding:5px;
    position: absolute;
    top:0px;
    left:30%;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    background-color:white;
    color: #1D7074;
}


#start_long_break:hover{
    cursor:pointer;
}


#pause_long_break{
    width:40%;
    height:40px;
    padding:5px;
    position: absolute;
    top:0px;
    left:30%;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    background-color:white;
    color:#1D7074;
    display: none;
}


#pause_long_break:hover{
    cursor:pointer;
}