/* Styles */

.main{
    width:100%;
    height:1000px;
    background-color: #984703;
    position: relative;
}

header{
    width:100%;
    height:100px;
    position: absolute;
    top:0px;
    left:0px;
}

.caption{
    height:100px;
    width:50%;
    position: absolute;
    top:0px;
    left:25%;
    border-bottom: 2px solid #BFA48D;
    
}

.logo{
    height:70px;
    width:10%;
    position: absolute;
    top:20px;
    left:50px;
}

.logo img{
    width:100%;
}

.text{
    height:70%;
    width:60%;
    position: absolute;
    top:30px;
    left:150px;
    font-size:50px;
    text-align: center;
    color:#FFD2AD;
}


.blocks_fon{
    width:40%;
    height:300px;
    border:1px solid white;
    border-radius: 10px;;
    position: absolute;
    top:170px;
    left:30%;
}